* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font: #fff;   
}

.createLockDashbord {
    background-image: url("../assets/homepage-bubble.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.PCL {
    display: flex;
}

.createLock {
    margin: 50px 0 0 50px;
    padding: 40px;
    border: 1px solid #6100ff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #979797;
}

.createLockTable {
    margin: 50px 0 0 50px;
    /* border: 1px solid; */
    border-radius: 50px;
    background-color: #292929;
    color: #979797;
    border-spacing: 0;
}

.tableHead {
    font-weight: 800;
}

.tableData {
    border: 1px solid #6100ff;
    border-collapse: collapse;
    width: 25%;
    height: 40px;
}