.modifylock {
  display: inline;
}
.modifylock_values {
margin: 5px 0;
display: flex;
justify-content: space-between;
}
.modifylock_values h2 {
    width: 50%;
}
.modifylock_values-container {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  width: 90%;
  margin: 20px auto;
}

.modifylock_values h2 {
  font-size: 17px;
  font-weight: 100;
}

.modifylock-inputs{
    color: white;
    background-color: rgb(0,0,0,0);
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    width: 20em;
}

.input_pic{
    height: 35px;
}
.input_pic:hover{
    cursor:pointer
}