@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: url("../assets/homepage.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
